.botones {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.botonEtapas {
  min-width: 100px;
  height: 40px;
  border-radius: 0;
  background: #008dc9;
  color: #fff; /* Cambia el color a negro */
  font-size: 14px; /* Aumenta el tamaño de la fuente */
  font-family: Roboto,sans-serif;
  text-transform: uppercase;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
}
.botones :first-child {
  border-radius: 0.375rem 0 0 0;
}
.botones :last-child {
  border-radius: 0 0.375rem 0 0;
  border-width: 1px 1px 1px 1px;
}
.botones :last-child.selected {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: transparent;
}
.selected {
  background: #f3f3f3;
  color: #000;
  border-bottom: 0;
}
.botones .selected:hover {
  background: #f3f3f3;
  color: #000;
}
.botonEtapas:hover {
  background: #0099db;
  color: #fff;
}
/* Añadido media query para ajustar el diseño en pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .botonEtapas {
    width: 100%; /* Cambiado a ancho completo para pantallas pequeñas */
    flex: 1;
    min-width: auto;
    flex-basis: calc(50% - 10px); 
  }
  .botones > :nth-child(2) {
    border-radius: 0 0.375rem 0 0;
  }
  .botones :last-child {
    border-radius: 0 0 0 0;
    border-width: 1px 1px 1px 1px;
  }
  
}
@media screen and (max-width: 480px) {
  .botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .botonEtapas {
    width: 100%; /* Cambiado a ancho completo para pantallas pequeñas */
    flex: 1;
    min-width: auto;
    flex-basis: calc(100% - 10px); 
  }
  .botones :first-child {
    border-radius: 0.375rem 0.375rem 0 0;
  }
  .botones > :nth-child(2) {
    border-radius: 0 0 0 0;
  }
}