.botones {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.botonEtapas {
  width: 100px;
  height: 50px;
  border-radius: 0;
  background: #a2a2a2;
  color: #5f5f5f;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #000000;
}
.botones :first-child {
  border-radius: 10px 0 0 0;
}
.botones :last-child {
  border-radius: 0 10px 0 0;
  border-width: 1px 1px 1px 1px;
}
.botones :last-child.selected {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #000000;
}
.selected {
  background: #f3f3f3;
  color: #000000;
  border-bottom: 0;
}
.botonEtapas:hover {
  background: #6d6c6c;
  color: #000000;
}
